<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#191a1b">

    <meta name="author" content="IntegrityNet">
    <meta name="description" content="Passion for Excellence and Dedication to Rendering Quality Service">
    <meta name="keywords" content="web design, design, design system, visual design, visual languange, design language, ui, ux, uiux, components, high-level components, design principles, design tokens, guidelines, ui guidelines, ux guidelines, ui patterns, templates, ux flows, design reference, design vocabulary">

    <title>Introduction to Components · IntegrityUI</title>

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../logo/apple-icon-180.png">

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/vendor.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/modernizr.js"></script>
    <script src="../js/pace.min.js"></script>
</head>

<body class="ids-components">
    <div class="preloader-wrapper">
        <div class="preloader-inner">
            <img src="../img/ids-icon.png" alt="IDS Logo" class="ids-logo">
        </div>
    </div>

    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="../">
                <div class="logo-text">
                    <img src="../img/ids-icon.png" alt="ids icon"> Integrity<span>UI</span>
                </div>
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
                <li><a href="../news/" title="What's New"><i class="mdi mdi-circle-medium"></i> What's New</a></li>
                <li><a href="../ids/" title="Design">Design</a></li>
                <li class="active"><a href="./" title="Components">Components</a></li>
            </ul>

            <ul class="header-social">
                <a href="../docs/" class="ids-btn primary-btn rounded-5-btn">Get Started</a>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </header>

    <section class="s-section target-section">
        <div class="row has-bottom-sep add-bottom">
            <div class="col-eight tab-full mob-full add-bottom">
                <h3 class="subhead">Components</h3>

                <h1>Introduction</h1>

                <p class="lead">
                    Our components are a collection of interface elements that can be reused across the IntegrityNet ecosystem.
                </p>

                <p class="add-bottom">
                    Components can be combined to help anyone building products or websites for IntegrityNet to efficiently design consistent experiences for our customers and end-users.
                </p>

                <a href="components.html" class="ids-btn primary-btn rounded-5-btn">Browse Components</a>
                <a hidden href="../styles.html" class="ids-btn outline-btn rounded-5-btn">See Demo Styles</a>
            </div>
        </div>

        <div class="row narrower add-top">
            <div class="col-full center-align add-bottom">
                <h3>
                    IntegrityUI Components includes:
                </h3>
            </div>

            <div class="col-six tab-full mob-full">
                <ul class="disc">
                    <li>Splash Screens + Preloaders</li>
                    <li>Navigation Bars</li>
                    <li>Grid System</li>
                    <li>Section + Section Utilities</li>
                    <li>Typography</li>
                    <li>Buttons w/ Buttons Modifiers</li>
                    <li>Tabs</li>
                    <li>Forms & Text fields</li>
                    <li>Modals</li>
                </ul>
            </div>
            
            <div class="col-six tab-full mob-full">
                <ul class="disc">
                    <li>Breadcrumbs</li>
                    <li>Alerts + Toasts</li>
                    <li>Label Tags</li>
                    <li>Progress Bars</li>
                    <li>Cards</li>
                    <li>Block Options</li>
                    <li>Tables + Pagination</li>
                    <li>Misc</li>
                </ul>
            </div>
        </div>
    </section>

    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>